@charset "UFT-8";
body{
    margin: 20px 30px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-card {
    width: auto;
    max-width: 250px;
}
img {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}



.card-body {
    margin-bottom: -1px;
    color: #000;
}

.option-info,.omakase-info{
    color: rgb(129, 129, 129);
    font-size: 13px;
}

.card-select{
    width: ;
    height: ;
    
}