@charset "UFT-8";
body{
    margin: 20px 30px;
}

h3{
    font-size: 30px;
    font-weight: bolder;
}

.menu-container{
    display: grid;
}
.menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu-card {
    padding: 25px;
    max-width: 250px;
    max-height: 250px;
}
    
.card-image {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

img[src$=".images/order-images/"]{
    object-fit: contain;
    object-position: top;
}


/*　メモこれ　*/


.card-body {
    margin-bottom: -1px;
    color: #000;
}

.option-info,.omakase-info{
    color: rgb(129, 129, 129);
    font-size: 13px;
}

.card-select{
    width: ;
    height: ;
    
}